body {
    font-family: Arial, sans-serif;
    background: #e9e9e9;
    padding: 20px;
}

.container {
    max-width: 650px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #bbb;
}

h2 {
    text-align: center;
    color: #444;
}

label {
    font-weight: bold;
}

.required {
    color: red;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #777;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    width: 100%;
    padding: 12px;
    background: #0077ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: #005fcc;
}

.view-btn {
    background: #28a745;
}

.view-btn:hover {
    background: #1d7f33;
}

.success {
    background: #d8ffd8;
    padding: 10px;
    margin-bottom: 15px;
    border-left: 4px solid green;
}
